body { 
background-color:#210033;

}

/*------- profile picture-------*/

 .profile-picture {
  box-shadow: 0px 0px 15px 5px #154564;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  height: auto;
  max-width: 250px;
  border-radius: 50%  
}

/*--------end---------*/







/*------- profile mane-------*/

.profile-name {
color: #068b9c;
text-shadow: rgb(255, 255, 255) 0px 0px 2px, rgb(255, 255, 255) 0px 0px 4px, rgb(255, 255, 255) 0px 0px 6px, rgb(255, 119, 255) 0px 0px 8px, rgb(255, 0, 255) 0px 0px 12px, rgb(255, 0, 255) 0px 0px 16px, rgb(255, 0, 255) 0px 0px 20px, rgb(255, 0, 255) 0px 0px 24px;

font-family: 'Odor Mean Chey',
display;
text-transform: capitalize;
font-style: normal;
font-weight: 700;
  text-align: center;
  padding: 30px;
  font-size: 28px;
}


/*-------all button--------*/

.links {
  text-align: center;
  margin-top: 20px;
  border: 1px solid blue;
  border-width: 2px;
  padding: 20px;
  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  font-size: 18px;
}



a {
text-shadow: rgb(255, 255, 255) 0px 1px 1px, rgb(0, 0, 0) 0px 1px
1px;
box-shadow: 2px 2px 5px 4px #154564;
  color:white;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
  background-image:linear-gradient(to right, #0f0c29 0%, #302b63 33%, #24243e 100%);
  transition: color 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}



a:hover ,a:focus,a:active{
box-shadow: 2px 2px 10px 10px #4983b0;
background-image:linear-gradient(to right, #000428 0%, #004e92 100%);
  color: aqua;
 background-color: #040505;
  padding:23px;  
  font-size: 21px; 
	-webkit-transform: scale(1.0.9);
	transform: scale(1.0.9);
 }
  
  
  
  
  
  

  
/*-------- profile copyright mane-------*/

.bottom {
  font-weight: 600;
  background-color: rgba(24,2,33,0.03);
  background-attachment: fixed;
  color: #e2cbf0;
  text-align: center;
  position: relative;
  font-size: 10px;
 box-shadow: 0px 0px 10px 10px #e2cbf0;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
border-top-right-radius: 30px;
border-top-left-radius: 30px;
top: 95em;

}
  
/*--------end---------*/




/*--------profile picture waves--------

.profile-name::after {
  content: '';
  width: 30px; 
  height: 30px;
 margin-left:5px;
  margin-right:70px;
  margin-bottom:50%;
  border-radius: 100%;
  border: 6px solid #27ae60; 
  position: absolute;  
  z-index: -1;  
  transform: translate(-50%, -50%);
  animation: ring 1.9s infinite;
}


@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 2;
  }
  100% {
    width: 220px;
    height: 220px;
    opacity: 0;
}
 };

--------end---------*/








.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  align-items: center;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  margin: auto;
  position: relative;
 
  top:110px;
  left:90px;
  width: 180px;
  height: 180px;
 
  border-radius: 50%;
  border: 6px solid #068b9c;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width:600px;)
{

.lds-dual-ring:after {

content: " ";
  display: block;
  margin: auto;
  position: relative;
  align-items: center;
  top:200px;
  left:200px;
  width: 180px;
  height: 180px;



}



